.board {
  background-color: black;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  border: solid 1px black;
  width: 4.5rem;
  height: 4.5rem;
  background-color: green;
}

.placement {
  /* border: solid black 1px; */
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: green;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
